---
name: 'code'
description: 'Basic styles for inline code blocks, with a customizable color.'
params:
  color: 'The color of the element, default red.'
examples:
  - code: "code\n  code()"
    el: "Here's an <span class='code'>inline code</span> block"
  - code: "code\n  code: blue"
    el: "Here's <span class='code2'>another</span> one"
_content: false
---