---
name: 'global-reset'
description: "We include a handy, intelligent reset of all styles based on <a href='http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/'>Eric Meyer's</a> reset. Call this at the root of your project, and never worry about reset again."
_content: false
---
