---
name: 'normalize-css'
description: "Call this at the root level to apply <a href='http://necolas.github.io/normalize.css/'>normalize.css</a> v3 to your page. It's recommended that you call this at the top of your stylesheet."
_content: false
---
