---
name: 'print-styles'
description: "Apply this mixin in the root of your stylesheet to give your site nice, clean print styles wrapped in a media print query so you don't have to worry about it."
_content: false
---