---
name: 'pre'
description: 'Basic styles for a multiline code block, ready for syntax highlighting.'
examples:
  - code: "pre\n pre()"
    el: "<div class='pre'>this is so meta</div>"
_content: false
---