---
name: 'area'
description: "Just a nice little area for you to put content in. Rounded corners, box with a light grey background by default."
params:
  color: 'Background color of the area. Default is #F5F5F5.'
examples:
  - code: "p\n  area()"
    el: "<div class='area'>Hi there, I'm a nicely defined little area of content!</div>"
  - code: "p\n  area: #D4EEF8"
    el: "<div class='area2'>I'm an area with a kind of blue-ish background.</div>"
_content: false
---