---
name: 'figure'
description: "For when you want to 'semantically' show an image. Put this on your <code>&lt;figure/&gt;</code> element and it will style the nested image and figcaption in a wonderfully pleasing manner."
params:
  $color: 'Color theme for the figure display. Default is blue.'
  $dimensions: 'The size of the image, if you need it. Since this is a list, you need to call with parens if you are using this parameter.'
examples:
  - code: "p\n  figure: red"
    el: "<figure class='figure'><img src='http://dogr.io/doge.png'></img><figcaption>A fine specimen of doge</figcaption></figure>"
_content: false
---
