---
name: 'icon-x'
description: 'Creates a clean, customizable "x" icon in pure css. Useful for close and delete interactions.'
params:
  $size: 'Size of the icon. Default is 40px.'
  $color: 'Color of the icon. Default is #888.'
  $stroke: 'Icon line width. Default is 1px.'
examples:
  - code: "span\n  icon-x()"
    el: "<span class='close'></span>"
  - code: ".delete\n  icon-x(20px, orange, 5px)"
    el: "<span class='delete'></span>"
_content: false
---
