---
name: 'navigation'
description: "A simple and flexible bootstrap-esque navigation bar. Requires a certain html structure: a 'h1' is the site title on the left, and a 'ul' containing 'li's which contain 'a's show the links on the right."
params:
  $size: "An integer from 1 to X, specifying an arbitrary scale. Try a couple different numbers to get what's best for you. Default is 1."
  $bg-color: "The color of the navigation bar's background. Default is #222."
  $link-color: "The color of the navigation links. Default is white."
  $pos-fixed: "Boolean, whether the nav bar should be fixed to the top of the window or not."
examples:
  - code: "nav\n  nav()"
    el: "<div class='nav'><h1>Example Site</h1><ul><li><a href='#'>About</a></li></ul></div>"
_content: false
---
