---
name: 'range'
description: "A clean, cross-browser styling reset for range inputs. Note: range inputs are not supported in IE9 and below."
params:
  $color: 'Color for the active state. Default is blue.'
  $track-width: 'Width of the track. Default is 100% of container.'
  $thumb-size: 'Size of the thumb. Default is 2em.'
  $track-height: 'Height of track. Default is .5em'
  $track-color: 'Color of track. Default is rgba(#000, .1)'
examples:
  - code: "input[type='range']\n  range(blue, 100%, 1.5em)"
    el: "<input type='range'/>"
  - code: ".range\n  range: tomato 150px 25px 2px rgba(red, .5)"
    el: "<input type='range' class='range'/>"    
_content: false
---
