extends layout

block content
    h1 Buttons
    p Axis' buttons are extremely flexible to be able to fit any situation. They come in two flavors, the basic default button and the glossy button.

    hr

    h3#button button(color, size)
    p The basic button mixin, flat and simple, but scales very well to any size and can be quite flexible using options passed in.

    h4 Parameters
    dl
      dt color
      dd Any CSS color value, default blue.

      dt size
      dd Font size, no unit. Used to scale all other properties. Default 14.

    h4 Examples

    .example
      pre
        | .selector
        |   button()
      .el
        .btn click me!
