doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='A terse and powerful stylus library built on top of nib')
    meta(name='author', content="Jeff Escalante")
    title Axis
    script(src="//use.typekit.net/ddj0mjr.js")
    script.
      try{Typekit.load();}catch(e){}
    != css()
  body

    header
      h1 Axis
      h2 a stylus mixin library built on top of nib

    .contain

      - var modules = Object.getOwnPropertyNames(site.modules)
      - modules.shift()
      nav
        ul
          li(data-id='installation'): a(href='#installation') Installation
          li(data-id='usage'): a(href='#usage') Usage
          each module in modules.sort()
            li(data-id=module)
              a(href='#'+module)= module.humanize()
              ul
                each fn in site.modules[module]
                  li(data-id=fn.name): a(href='#'+fn.name)= fn.name

      main
        block content

  != js()
