---
name: 'absolute'
description: "Syntax shortcut for absolute positioning. Ported from <a href='http://nibstyl.us/docs/#position'>nib</a>."
examples:
  - code: ".selector\n  absolute()"
  - code: ".selector\n  absolute: bottom right"
  - code: ".selector\n  absolute: top 50px right 5px"  
---
