---
name: 'columns'
description: "A nice shortcut for smooth css3 columns."
params:
  $count: 'Column count, integer.'
  $gap: 'Gap between columns, css width unit.'
  $width: 'Width of each column, css width unit.'
  $rule: 'Line between columns, takes the same arguments as a css border.'
examples:
  - code: ".cols\n  columns: 3 10px 30px"
    el: "<div class='cols'>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.</div>"
_content: false
---
