---
name: 'fixed'
description: "Syntax shortcut for fixed positioning. Ported from <a href='http://nibstyl.us/docs/#position'>nib</a>."
examples:
  - code: ".selector\n  fixed()"
  - code: ".selector\n  fixed: top left"
  - code: ".selector\n  fixed: bottom 50px left 5px"  
---
