---
name: 'group'
description: "Clearfix with a better name. Excellent for wrangling floats. Also aliased as <code>clearfix</code>. <a href='http://www.cssmojo.com/latest_new_clearfix_so_far/'>Learn more here</a>."
examples:
  - code: ".selector\n  group()"
  - code: ".selector\n  clearfix()"
---
