---
name: 'ratio-box'
description: "This sets a specific width/height ratio. Useful on background images, iframes and Youtube embeds."
params:
  $ratio: 'Fraction, width over height'
examples:
  - code: ".widescreen-video\n  ratio-box(16/9)\n\n  iframe\n    position: absolute\n    top: 0\n    left: 0\n    width: 100%\n    height: 100%"
    el: "<div class='widescreen-video'><iframe src='https://www.youtube.com/embed/o0xr1JRZOb4?controls=0&modestbranding=1' frameborder='0' allowfullscreen></iframe></div>"
_content: false
---
