---
name: 'relative'
description: "Syntax shortcut for absolute positioning. Ported from <a href='http://nibstyl.us/docs/#position'>nib</a>."
examples:
  - code: ".selector\n  relative()"
  - code: ".selector\n  relative: top auto right auto"  
---
