---
name: 'rule'
description: "A cleaner default for horizontal rules."
params:
  $color: 'Color for the line. Default is rgba(#000, .15)'
  $spacing: 'Spacing above and below. Default is 1.5em'
examples:
  - code: "hr\n  rule()"
    el: "<p>Text above the hr<p><hr><p>Text below the hr.</p>"
_content: false
---
