---
name: 'rule'
description: "A cleaner default for horizontal rules."
params:
  $color: 'Color for the line. Default is rgba(#000, .15)'
  $spacing: 'Spacing above and below. Default is 1.5em'
examples:
  - code: ".media\n  media: 10px"
    el: "<div class='media'><img src='https://pbs.twimg.com/profile_images/3543879283/1509e34005183da5ea4eb29150f341e5_400x400.jpeg' /><p><strong>Steve Brule:</strong><br/>In 1971 Bill Grates invented Michaelsoft.</p></div>"
_content: false
---
