---
name: 'rule'
description: "A cleaner horizontal rule."
params:
  $color: 'Color of the line. Default is rgba(#000, .15)'
  $spacing: 'Margin above and below the line. Default is 1.5em.'
examples:
  - code: "hr\n  rule()"
    el: "<p>content above hr</p><hr><p>content below hr</p>"
_content: false
---
