---
name: 'table-layout'
description: "Sometimes you just need a good old-fashioned table layout. <a href='http://colintoh.com/blog/display-table-anti-hero'>Here's a great article</a> on the subject. "
params:
  $layout-type: 'fixed or auto'
examples:
  - code: "ul\n  tl()"
    el: "<div class='tl'><ul><li>Adding more text to this <code>li</code> will add more vertical height to the ones next to it.</li><li>I am an <code>li</code></li><li>Borders are for demo only - not part of the mixin.</li></ul></div><div class='tl'><ul><li>Evenly</li><li>space</li><li>those</li><li>sibling</li><li>elements</li></ul></div><div class='tl'><ul class='no-border'><li>No</li><li>matter</li><li>the</li><li>number</li></ul></div>"
_content: false
---
