---
name: 'avoid-column-break'
description: "If you have a list that is broken into columns, this will make sure that the list item is not split across columns awkwardly. Works only in webkit at the moment."
_content: false
---