---
name: 'b'
description: "A shorter version of 'border' that also includes the intelligent default of '1px solid' if no args passed"
params:
  arguments: "Same as the arguments you'd normally pass to 'border'. Default 1px solid."
examples:
  - code: ".el\n  b()"
    el: "<div class='b'>Check out my border</div>"
_content: false
---