---
name: 'bold'
description: "A short alias for 'font-weight: bold'. Purely convenience."
examples:
  - code: "strong\n  bold()"
    el: "<div class='bold'>Wow such stronk text</div>"
_content: false
---