---
name: 'border-box-html'
description: "Add border box to every element in your project. Used in your project root. Based on <a href='http://www.paulirish.com/2012/box-sizing-border-box-ftw/'>this post</a> by Paul Irish."
_content: false
---