---
name: 'debug'
description: "Debugging tool - adds a border to the current element, its children, grandchildren, etc so you can see what's up – great for precise layout tweaks.  It will also add flags if you made mistakes like put in inline styles, forgot an alt on an image, left the alt blank, etc. Not to be used in production, obviously. <a href='http://codepen.io/dbox/full/GJZzYo'>View the demo</a>."
_content: false
---
