---
name: 'debug'
description: "Debugging tool - drop this at root level in your css and it will put borders on every element so you can see what's up. It will also flag them if you made mistakes like put in inline styles, forgot an alt on an image, left the alt blank, etc. For god's sake don't use this in production. All credit for this goes to intuit.css, from which I adapted it (and improved it a bit). https://github.com/csswizardry/inuit.css"
_content: false
---