---
name: 'fluid-media'
description: "Use this mixin in the root of your project to make your img, video, and iframe tags display block and fill the width of their parent container."
_content: false
---