---
name: 'font-face'
description: "Super simple font-face declaration. Make sure to use this at the root level, not within a css selector, and use the parentheses syntax. Also make sure the font name matches the name of the files. Uses the fontspring syntax: http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax"
params:
  name: 'Name of the font. Make sure the font files have this name, this is also what you will use in your css.'
  folder: 'Path to the folder that the fonts are in. The fonts will be located by joining this path and the font name, and adding extensions.'
  weight: 'The weight you want this font to be. Default is normal.'
  style: 'The style you want this font to be. Default is normal.'
_content: false
---