---
name: 'italic'
description: "A short alias for 'font-style: italic'. Purely convenience."
examples:
  - code: "em\n  italic()"
    el: "<div class='italic'>Wow such slanty text</div>"
_content: false
---