---
name: 'no-select'
description: "Makes the text in an element un-selectable. This is good for things like buttons so that a double click doesn't select the text."
examples:
  - code: ".selector\n  no-select()"
    el: "<div class='no-select'>Try to highlight me. Just try.</div>"
_content: false
---