---
name: 'normal'
description: "Resets the font weight and font style to normal, clearing anything that was bold and/or italic."
examples:
  - code: "p\n  bold()\n  normal()"
    el: "<div class='normal'>Not even a little bit bold.</div>"
_content: false
---