---
name: 'open-type-ligatures'
description: "The vast majority of fonts contain lowercase and uppercase alphabets, numerals, punctuation and accents. Many professionally-designed fonts also contain ligatures, alternative characters, smallcaps, different kinds of numbers, and sometimes much more besides. This enables it."
examples:
  - code: ".selector\n  open-type-ligatures()"
_content: false
---
