---
name: 'rem'
description: "Calculates and returns the rem value based on px input."
params:
  $value: 'Number in px'
examples:
  - code: "h5\n  font-size: rem(24px)"
    el: "<div class='rem-calculator'><h5>This font size is set to 24px but renders in the browser as 1.5rem.</div>"
  - code: "div\n  width: rem(150)"
    el: "<div class='rem-calculator'><div>This div's width is set to 150px, but renders as 9.375rem.</div></div>"  
_content: false
---
