---
name: 'rounded'
description: "Round the corners of an element as much as css will allow."
examples:
  - code: ".btn\n  button()\n  rounded()"
    el: "<div class='rounded'>So round</div>"
_content: false
---