---
name: 'transition'
description: "Transition with an intelligent default."
examples:
  - code: "transition()"
    el: "<code>transition: all .3s ease;</code>"
  - code: "transition: color 1s ease"    
  - code: "transition(color 1s ease, background 2.4s linear)"
_content: false
---
