---
name: 'triangle'
description: "Makes a customizable css triangle just for you."
params:
  direction: 'Direction the triangle points: up, down, left, or right. Default is up.'
  size: 'Size of the triangle in pixels. Default is 10px.'
  color: 'Color of the triangle. Default is black.'
examples:
  - code: ".tri\n  triangle()"
    el: "<div class='triangle'></div>"
_content: false
---