---
name: 'vertically-align'
description: "Cross browser vertical align. Works down to IE9."
examples:
  - code: ".box\n  vertically-align()"
    el: "<div class='vertically-align'><p>Didn't think it was possible with css, did ya?</p></div>"
_content: false
---