.btn
  $button(textColor: #fff)

.btn2
  $button: green large

.glossy-btn
  glossy-button(textColor: #fff)

.glossy-btn2
  glossy-button: blue large

.btn-disabled
  glossy-button()
  button-disabled()