.btn
  font-family: Roboto, sans-serif
  upcase()
  button($text-color: #fff)

.btn2
  font-family: Roboto, sans-serif
  upcase()
  button: green 'large'

.glossy-btn
  font-family: Roboto, sans-serif
  upcase()
  glossy-button($text-color: #fff)

.glossy-btn2
  font-family: Roboto, sans-serif
  upcase()
  glossy-button: blue 'large'

.glossy-btn3
  font-family: Roboto, sans-serif
  upcase()
  glossy-button: orange 'large' white

.glossy-btn4
  font-family: Roboto, sans-serif
  upcase()
  glossy-button($color: orange, $text-color: white)

.btn-disabled
  font-family: Roboto, sans-serif
  upcase()
  glossy-button()
  button-disabled()
