.btn
  $button(textColor: #fff)

.btn2
  $button: green large

.glossy-btn
  glossy-button(textColor: #fff)

.glossy-btn2
  glossy-button: blue large

.glossy-btn3
  glossy-button: orange large white

.glossy-btn4
  glossy-button(color: orange, textColor: white)

.btn-disabled
  glossy-button()
  button-disabled()