.ease-container

  > div
    group()
    padding: 0 5%

    h6
      float: left
      font-size: .8em
      width: 160px
      margin: 15px 15px 0 0
      font-family: fira-mono, monospace

    span
      display: block
      float: left
      border-top: 1px solid #ccc
      width: 60%
      margin: 30px auto
      position: relative

      +below(800px)
        width: 95%

      &:before
        content: ""
        size: 20px
        background: $default
        absolute: top -10px left
        rounded()

    &:hover
      span:before
        left: 100%

  .ease-in-quad span:before
    transition: all .5s $ease-in-quad

  .ease-in-cubic span:before
    transition: all .5s $ease-in-cubic

  .ease-in-quart span:before
    transition: all .5s $ease-in-quart

  .ease-in-quint span:before
    transition: all .5s $ease-in-quint

  .ease-in-sine span:before
    transition: all .5s $ease-in-sine

  .ease-in-expo span:before
    transition: all .5s $ease-in-expo

  .ease-in-circ span:before
    transition: all .5s $ease-in-circ

  .ease-in-back span:before
    transition: all .5s $ease-in-back

  .ease-in-swift span:before
    transition: all .5s $ease-in-swift

  .ease-out-quad span:before
    transition: all .5s $ease-out-quad

  .ease-out-cubic span:before
    transition: all .5s $ease-out-cubic

  .ease-out-quart span:before
    transition: all .5s $ease-out-quart

  .ease-out-quint span:before
    transition: all .5s $ease-out-quint

  .ease-out-sine span:before
    transition: all .5s $ease-out-sine

  .ease-out-expo span:before
    transition: all .5s $ease-out-expo

  .ease-out-circ span:before
    transition: all .5s $ease-out-circ

  .ease-out-back span:before
    transition: all .5s $ease-out-back

  .ease-out-swift span:before
    transition: all .5s $ease-out-swift

  .ease-in-out-quad span:before
    transition: all .5s $ease-in-out-quad

  .ease-in-out-cubic span:before
    transition: all .5s $ease-in-out-cubic

  .ease-in-out-quart span:before
    transition: all .5s $ease-in-out-quart

  .ease-in-out-quint span:before
    transition: all .5s $ease-in-out-quint

  .ease-in-out-sine span:before
    transition: all .5s $ease-in-out-sine

  .ease-in-out-expo span:before
    transition: all .5s $ease-in-out-expo

  .ease-in-out-circ span:before
    transition: all .5s $ease-in-out-circ

  .ease-in-out-back span:before
    transition: all .5s $ease-in-out-back

  .ease-in-out-swift span:before
    transition: all .5s $ease-in-out-swift
