.input
  input()
  autofill(green, white)

.input2
  input: purple 150px

.input-disabled
  input()
  input-disabled()

.field-warning
  field: left 100%

  label
    label()
    margin-right: 5px

  input
    input()

  field-warning()

.field-warning2
  field: left 100%

  label
    label()
    margin-right: 5px

  input
    input()

  field-warning: #F8DE75

.field-error
  field: left 100%

  label
    label()
    margin-right: 5px

  input
    input()

  field-error()

.field-error2
  field: left 100%

  label
    label()
    margin-right: 5px

  input
    input()

  field-error: #FA7346

.field-success
  field: left 100%

  label
    label()
    margin-right: 5px

  input
    input()

  field-success()

.field-success2
  field: left 100%

  label
    label()
    margin-right: 5px

  input
    input()

  field-success: #9DF49E

.field
  field: left 100%

  label
    label()
    margin-right: 5px

  input
    input()

.field2
  field: right 100%

  label
    label()
    margin-right: 5px

  input
    input($width: 100px)

.html5-inputs
  +html5-inputs()
    input()

.input-error
  input()
  input-error()

.input-error2
  input()
  input-error: #F99987

.input-warning
  input()
  input-warning()

.input-warning2
  input()
  input-warning: #F8DE75

.input-success
  input()
  input-success()

.input-success2
  input()
  input-success: #9DF49E

.label

  label
    label()
    margin-right: 5px

  input
    input($width: 200px)

.label2

  label
    label: block

  input
    input($width: 200px)
