.gradient
  size: 200px 50px
  gradient: red

.gradient2
  size: 200px 50px
  gradient: red 30%

.gradient3
  size: 200px 50px
  gradient: red blue

.image-gradient
  size: 200px 50px
  image-gradient: red 'pattern.svg'

.image-gradient2
  size: 200px 50px
  image-gradient: red 'pattern.svg' 30%

.image-gradient3
  size: 200px 50px
  image-gradient: red blue 'pattern.svg'