// images

.bg-retina
  bg-retina: 'doge.jpg' 250px 170px

.bg
  bg: 'doge.jpg'
  size: 250px 170px

.ir
  ir('hello-there.svg', 301px 32px)
  
.sprite
  background: url('/img/sprite.jpg')
  width: 28px
  height: 31px
  sprite: 0 'horizontal'

.sprite2
  background: url('/img/sprite.jpg')
  width: 28px
  height: 31px
  sprite: 1 'horizontal'
