.hover-color
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: red
  color: white
  hover-color: black

.hover-color2
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: red
  color: white
  hover-color: black true

.hover-darken
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: maroon
  hover-darken()

.hover-darken2
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: olive
  hover-darken: 50%

.hover-lighten
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: fuchsia
  hover-lighten()

.hover-lighten2
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: yellow
  hover-lighten: 50%

.hover-fade
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: teal
  hover-fade()

.hover-fade2
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: aqua
  hover-fade: .2

.hover-pop
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: orange
  color: white
  hover-pop()

.hover-pop2
  size: 250px 75px
  padding: 27px
  text-align: center
  transition()
  background: olive
  color: white
  hover-pop: 1.5 7deg true

.hover-underline
  hover-underline()
  transition()
  display: inline-block

.hover-underline2
  hover-underline: 2px dotted lime
  transition()
  display: inline-block