.blockquote
  $blockquote()

.blockquote2
  $blockquote: red

.fs
  fs: 1.5rem
  margin: 0

.h1
  $h1()
  margin: 0

.h2
  $h2()
  margin: 0

.h3
  $h3()
  margin: 0

.h4
  $h4()
  margin: 0

.h5
  $h5()
  margin: 0

.h6
  $h6()
  margin: 0

.hyphenation
  hyphenation()

.inline-list
  inline-list()

.inline-list2
  inline-list: 40px

.link
  link()
  cursor: pointer

.link2
  link: green darken
  cursor: pointer

.ol
  $ol()

.ol2
  $ol: upper-roman

.paragraph, .paragraph2
  $p()
  margin-top: 0

.paragraph3
  $p: 18px false
  margin-top: 0

.reset-case
  upcase()
  reset-case()
  
.reset-link
  reset-link()

.reset-list
  reset-list()

.small
  $small()

.text-margin
  font-size: 18px

text-selection(red, white)

.ul
  $ul()

.ul2
  $ul: square

.uppercase, uppercase2
  margin: 0
  