.area
  area()
  margin: 0

.area2
  area: #D4EEF8
  margin: 0

.breadcrumb
  breadcrumb()

.breadcrumb2
  breadcrumb: '>'

.breadcrumb3
  breadcrumb: '~' 25px red

.bubble
  bubble()

.bubble2
  bubble: top center #57777E
  color: #fff

.bubble3
  bubble($pos0: bottom, $pos1: right, $triangle-size: 15px, $triangle-color: red)

.figure
  figure()

  img
    max-width: 200px

.flash
  flash()

.flash2
  flash: 'warning'

.flash3
  flash: 'error'

.flash4
  flash: 'success'

.nav
  navigation()

.notice
  notice()

.notice2
  notice: 200px #D4EEF8

.radio
  radio()

.radio2
  radio(red)

.radio-buttons
  padding-left: 5%;

input[type='range']
  range(blue, 100%, 1.5em)

  &.range
    range: tomato 150px 15px 2px rgba(red, .5)

.arrow
  icon-arrow()

.arrow-left
  icon-arrow(left, 20px, blue, 3px)

.arrow-down
  icon-arrow(down, 50px, green, 7px)

.close
  icon-x()
.delete
  icon-x(20px, orange, 5px)
