.area
  area()
  margin: 0

.area2
  area: #D4EEF8
  margin: 0

.breadcrumb
  breadcrumb()

.breadcrumb2
  breadcrumb: '>'

.breadcrumb3
  breadcrumb: '~' 25px red

.bubble
  bubble()

.bubble2
  bubble: top center #57777E
  color: #fff

.bubble3
  bubble(pos0: bottom, pos1: right, triangleSize: 15px, triangleColor: red)

.figure
  figure()

  img
    max-width: 200px

.flash
  flash()

.flash2
  flash: 'warning'

.flash3
  flash: 'error'

.flash4
  flash: 'success'

.nav
  navigation()

.notice
  notice()

.notice2
  notice: 200px #D4EEF8