.b
  b()

.bg-retina
  bg-retina: 'doge.jpg' 250px 170px

.bg
  bg: 'doge.jpg'
  size: 250px 170px

.bold
  bold()

.italic
  italic()

.cols
  columns: 3 10px 30px

.ir
  ir('hello-there.svg', 301px 32px)

.no-select
  no-select()

.normal
  bold()
  normal()

.raquo
  raquo()

.rounded
  $button(textColor: white)
  rounded()

.triangle
  triangle()

.vertically-align
  size: 250px 150px
  b()

  p
    margin: 0
    vertically-align()