.b
  b()

.bg-retina
  bg-retina: 'doge.jpg' 250px 170px

.bg
  bg: 'doge.jpg'
  size: 250px 170px

.bold
  bold()

.italic
  italic()

.cols
  columns: 3 10px 30px

.ir
  ir('hello-there.svg', 301px 32px)

.widescreen-video
  ratio-box(16/9)

  iframe, object, embed, video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.media
  media: 10px

  p
    margin: 0
    font-size: .9em

  img
    max-width: 55px

.no-select
  no-select()

.normal
  bold()
  normal()

.raquo
  raquo()

.rounded
  button(textColor: white)
  rounded()

.triangle
  triangle()

.triangle2
  triangle: right 13px lime

.vertically-align
  size: 250px 150px
  b()

  p
    margin: 0
    padding: 0 5px;
    vertically-align()

  &.false
    p
      vertically-align(false)

.sprite
  background: url('/img/sprite.jpg')
  width: 28px
  height: 31px
  sprite: 0 'horizontal'

.sprite2
  background: url('/img/sprite.jpg')
  width: 28px
  height: 31px
  sprite: 1 'horizontal'

.rem-calculator
  h5
    font-size: rem(24px)
    margin: 0
    padding: 0
    line-height: 1em

  div
    width: rem(150px)
    border: 1px solid blue
