normalize-css()
base()

body, html
  height: 100%

*
  box-sizing: border-box
  font-family: freight-sans-pro

.contain
  center()
  height: 100%

header
  group()
  background: red
  text-align: center
  color: #333
  padding: 65px 0

  h1
    ir('title.svg', 144px 43px)
    margin: 0 auto 15px auto
  
  h2
    normal()
    font-weight: 400
    font-size: 1em
    margin: 0

.sticky-wrapper
  width: 22%
  height: 100%
  float: left

nav
  background: grey
  padding: 30px
  height: 100%

  &.stuck
    position: fixed
    top: 0
    width: 22%

  ul
    reset-list()

    li
      font-size: 1.3em
      font-weight: 500
      margin-bottom: 10px
      
      a
        reset-link()
        color: #555
        transition()

        &.active
          color: red
      
      ul
        reset-list()

        li
          font-size: .8em
          margin-left: 15px
          margin: 6px 0 6px 15px

main
  group()
  padding: 30px 30px 30px 0
  width: 73%
  float: right

  h1
    font-size: 2em
    font-weight: 500
    -webkit-font-smoothing: subpixel-antialiased
    margin: 0
  
  h3
    font-family: fira-mono, monospace
    color: red
  
  h4
    color: #6D6D6D
    margin: .3em 0
    border-bottom: 1px solid #E5E5E5
  
  p
    color: #8b8b8b
    font-size: 17px
    line-height: 1.5em
  
  hr
    border: none
    margin: 30px auto
    ir('divider.svg', 423px 27px)
  
  dt
    font-family: fira-mono, monospace
    
    &:after
      content: ":"
  
  dd
    color: #8b8b8b
    font-size: 17px
    line-height: 1.5em  
  
  .example
    group()
    center()

    pre
      col(1/2)
      background: grey
      border: 1px solid darken(grey, 10%)
      border-radius: 4px
      padding: 15px
      font-size: .9em

    .el
      col(1/2)
      padding: 1em
