$default = #9B4DCA
$blue = #0073D8
$grey = #EAEAEA
$light-grey = #F7F7F7
$main-bg = linear-gradient(-45deg, $blue 10%, $default)


$monospace = Inconsolata, Monaco, Consolas, 'Courier New', Courier
// default color
$default-color = $blue

// text highlight color
$text-selection = $default

// custom image base path for roots mixins
$img-path = '/img/'
