// font stack
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif

// default font stack
font-stack = helvetica-neue
font-size = 16
font-color = #555

// colors
red = #CC5A52
grey = #EAEAEA

// default color
default-color = red

// text highlight color
highlight-color = blue

// ligatures
ligatures = false

// vertical rhythm
base-line-height = 24px
default-rhythm-border-style = solid
relative-font-sizing = true
round-to-nearest-half-line = false
min-line-padding = 2px

// custom image base path for roots mixins
img-path = '/img/'

// support for old IE
support-for-ie = false

// progressive IE (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'
