$default = #9B4DCA
$blue = #0073D8
$grey = #EAEAEA
$light-grey = #F7F7F7

// default color
$default-color = $blue

// text highlight color
$text-selection = $default

// custom image base path for roots mixins
$img-path = '/img/'
