@import '_settings'

normalize-css()
base()

body, html
  height: 100%

*
  box-sizing: border-box
  font-family: freight-sans-pro

.contain
  height: 100%

header
  group()
  background: red
  text-align: center
  color: #333
  padding: 65px 0

  h1
    ir('title.svg', 144px 43px)
    margin: 0 auto 15px auto
  
  h2
    normal()
    font-weight: 400
    font-size: 1em
    margin: 0

.sticky-wrapper
  width: 22%
  height: 100%
  float: left
  
  +below(800px)
    display: none

nav
  background: grey
  padding: 30px
  height: 100%
  overflow-y: scroll

  &.stuck
    position: fixed
    top: 0
    width: 22%

  ul
    reset-list()

    li
      font-size: 1.3em
      font-weight: 500
      margin-bottom: 10px
      
      a
        reset-link()
        transition()
        color: #555
        
        &:hover
          opacity: .7

        &.active
          color: red
      
      ul
        reset-list()
        display: none

        li
          font-size: .8em
          font-weight: 400
          margin-left: 15px
          margin: 6px 0 6px 15px

main
  group()
  padding: 30px 0
  width: 78%
  float: right
  
  +below(800px)
    width: 100%
    float: none
  
  section
    margin: 25px 5%
    max-width: 650px
    
    > p a
      link: red
  
  .instruction
    padding: 0 5%
    max-width: 650px
  
  .intro
    background: light-grey
    padding: 25px 5%
    
    p
      margin: .5em 0 0 0
      max-width: 650px
    
    a
      link: red
      transition()

  h1
    font-size: 2em
    font-weight: 400
    -webkit-font-smoothing: subpixel-antialiased
    margin: 0
    cursor: pointer
  
  h3
    font-family: fira-mono, monospace
    color: red
    margin-top: 0
    cursor: pointer
    position: relative
    
    &:before
      content: ""
      size: 12px
      bg: 'link-icon.svg'
      absolute: top 8px left -7px
      opacity: 0
      transition()
      
    &:hover
      &:before
        left: -20px
        opacity: 1
  
  h4
    color: #6D6D6D
    margin: .3em 0
    border-bottom: 1px solid darken(light-grey, 5%)
  
  p
    color: #8b8b8b
    font-size: 17px
    line-height: 1.5em
  
  hr
    border: 1px solid light-grey
    margin: 30px auto
    // ir('divider.svg', 423px 27px)
  
  dt
    font-family: fira-mono, monospace
    
    &:after
      content: ":"
  
  dd
    color: #8b8b8b
    font-size: 17px
    line-height: 1.5em  
  
  .example
    group()

    pre
      width: 50%
      float: left
      background: grey
      border: 1px solid darken(grey, 10%)
      border-radius: 4px
      padding: 15px
      font-family: fira-mono, monospace
      font-size: .9em

    .el
      width: 50%
      float: left
      padding: 1em
