---
name: 'click-down'
description: "Moves element down on Y axis when clicked."
params:
  $distance: 'Distance moved on Y axis. Default is 1px.'
examples:
  - code: ".btn\n  click-down()"
    el: "<div class='click-down'>Click me</div>"
_content: false
---
