---
name: 'click-shrink'
description: "Scales an element while clicked/tapped. Gives the illusion of lowering on the z-axis. Recommended to be used with transition."
params:
  $distance: 'Amount scaled down. Default is .92'
examples:
  - code: ".btn\n  click-shrink()"
    el: "<div class='click-shrink'>Do the click</div>"
_content: false
---
