---
name: 'click-inset'
description: "Creates the effect of the element being pressed in on the Z axis."
params:
  $radius: 'Amount of the inset'
examples:
  - code: ".btn\n  click-inset()"
    el: "<div class='click-inset'>Click me as well</div>"
_content: false
---
