---
name: 'click-shadow'
description: "Creates a shadow under element while clicked/tapped. Recommended to be used with transition."
params:
  $distance: 'Distance moved on Y axis. Default is 1px.'
examples:
  - code: ".btn\n  click-shadow()"
    el: "<div class='click-shadow'>Click me too</div>"
_content: false
---
