---
name: 'hover-float'
description: "Floats element up on the Y axis with a little shadow below. "

examples:
  - code: ".selector\n  hover-float()"
    el: "<div class='hover-float'></div>"
_content: false
---
