---
name: 'hover-float'
description: "Floats element up on the Y axis with a little shadow below. "
//- params:
//-   $color: "Color for the glow. Default is blue."
//-   $radius: "Glow radius. Default is 20px."
examples:
  - code: ".selector\n  hover-float()"
    el: "<div class='hover-float'></div>"
_content: false
---
