---
name: 'hover-underline'
description: "Creates a bottom border on an element on hover. Works very nicely for text like in a span, and can animate, but may need tweaking to get it working on other elements."
params:
  $border-size: 'How thick you want rh border to be. Default is 1px.'
  $type: 'Type of border you want to use. Default is solid.'
  $color: 'Color you want the border to be. Default is none (will match element color).'
examples:
  - code: ".selector\n  hover-underline()"
    el: "<div class='hover-underline'>Hello there!</div>"
  - code: ".selector\n  hover-underline: 2px dotted lime"
    el: "<div class='hover-underline2'>Welcome to the docs</div>"
_content: false
---
