---
name: 'hover-pop'
description: "'Pops' the element out from the page on hover."
params:
  $scale: "Scale to which the element should increase in size. Default is 1.2"
  $rotate: "How many degrees the element should rotate, if any. Default is 0deg."
  $shadow: "Boolean, whether there should be a drop shadow once the element pops off the page."
examples:
  - code: ".selector\n  hover-pop()"
    el: "<div class='hover-pop'>WOW</div>"
  - code: ".selector\n  hover-pop: 1.5 7deg true"
    el: "<div class='hover-pop2'>MORE WOW</div>"
_content: false
---
