---
name: 'hover-darken'
description: "Darkens the color and/or background color on your element when it's hovered."
params:
  $percentage: 'How much you want to darken the color. Default is 15%'
  $force-use-color: 'If true, chooses color over background color first. Default false.'
examples:
  - code: ".selector\n  background: maroon\n  hover-darken()"
    el: "<div class='hover-darken'></div>"
  - code: ".selector\n  background: olive\n  hover-darken: 50%"
    el: "<div class='hover-darken2'></div>"
_content: false
---
