---
name: 'hover-glow'
description: "Gives an element a glow on hover."
params:
  $color: "Color for the glow. Default is blue."
  $radius: "Glow radius. Default is 20px."
examples:
  - code: ".selector\n  hover-glow()"
    el: "<div class='hover-glow'></div>"
  - code: ".selector\n  hover-glow(purple, 100px)"
    el: "<div class='hover-glow2'></div>"
_content: false
---
