---
name: 'hover-fade'
description: "Changes the element's opacity on hover."
params:
  $amount: "A value between zero and 1, as css opacity normally takes. Default is .5"
examples:
  - code: ".selector\n  background: teal\n  hover-fade()"
    el: "<div class='hover-fade'></div>"
  - code: ".selector\n  background: aqua\n  hover-fade: .2"
    el: "<div class='hover-fade2'></div>"
_content: false
---
