---
name: "field-warning"
description: "If you are wrapping labels and inputs in a '.field' div, this makes warning users even easier, wow. Makes the label text as well as the input field highlight yellow."
params:
  $color: "Color that it uses to highlight. Default is yellow."
examples:
  - code: "form .field.warning\n  field-warning()"
    el: "<div class='field-warning'><label>Name: </label><input type='text' value='C-3P0' /></div>"
  - code: "form .field.warning\n  field-warning: #FA7346"
    el: "<div class='field-warning2'><label>Location: </label><input type='text' value='Space' /></div>"
_content: false
---
