---
name: "field-success"
description: "If you are wrapping labels and inputs in a '.field' div, you can now increase your users' feeling of joy upon successful entry of some information. Makes the label text as well as the input field highlight green."
params:
  $color: "Color that it uses to highlight. Default is green."
examples:
  - code: "form .field.success\n  field-success()"
    el: "<div class='field-success'><label>Name:</label><input type='text' value='My Real Name' /></div>"
  - code: "form .field.success\n  field-success: #9DF49E"
    el: "<div class='field-success2'><label>Location:</label><input type='text' value='New York City' /></div>"
_content: false
---
