---
name: "field-error"
description: "If you are wrapping labels and inputs in a '.field' div, this makes life even easier. Makes the label text as well as the input field highlight red."
params:
  $color: "Color that it uses to highlight. Default is red."
examples:
  - code: "form .field.error\n  field-error()"
    el: "<div class='field-error'><label>Name:</label><input type='text' value='Mr. T' /></div>"
  - code: "form .field.error\n  field-error: #FA7346"
    el: "<div class='field-error2'><label>Location:</label><input type='text' value='Nowhere' /></div>"
_content: false
---
