---
name: "html5-inputs"
description: "Block mixin that renders all the types of input fields and text areas, even the special html5 ones like date, email, url, tel, etc so you don't need to type them all out manually."
examples:
  - code: "+html5-inputs()\n  input()"
    el: "<div class='html5-inputs'><input type='date' /></div>"
_content: false
---