---
name: "input-disabled"
description: "Makes your input appear to be disabled. Note that you also need to add 'disabled' to your html tag in order for it to actually be disabled."
examples:
  - code: ".disabled\n  input-disabled()"
    el: "<input type='text' class='input-disabled' placeholder='cant touch this' disabled />"
_content: false
---