---
name: "input-warning"
description: "Ok, so maybe you didn't *totally* mess it up, but at very least you deserve a warning. Best implemented in a '.warning' class or something similar."
params:
  color: "Color that it uses to highlight. Default is yellow."
examples:
  - code: "form .warning\n  input-warning()"
    el: "<input type='text' class='input-warning' value='shoot' />"
  - code: "form .warning\n  input-warning: #F8DE75"
    el: "<input type='text' class='input-warning2' value='this looks questionable' />"
_content: false
---