---
name: "input"
description: "A general purpose mixin for text inputs. Provides an nice attractive default style that's easily customizable."
params:
  color: "Color theme, shows up on focus. Defaults to aqua"
  width: "Self-explanitory, defaults to 250px"
examples:
  - code: "input[type='text']\n  input()"
    el: "<input type='text' class='input' placeholder='wow' />"
  - code: "input[type='text']\n  input: purple 150px"
    el: "<input type='text' class='input2' placeholder='amaze' />"
_content: false
---