---
name: "input-success"
description: "Great success, very naice! Best implemented in a '.success' class or something similar."
params:
  color: "Color that it uses to highlight. Default is green."
examples:
  - code: "form .success\n  input-success()"
    el: "<input type='text' class='input-success' value='whooooo' />"
  - code: "form .success\n  input-success: #9DF49E"
    el: "<input type='text' class='input-success2' value='I am the winner' />"
_content: false
---