---
name: "label"
description: "A very basic label style for your forms."
params:
  $display: "The css display property. Defaults to inline-block so the label displays next to the input, change to block to display above."
examples:
  - code: "label\n  label()"
    el: "<div class='label'><label>Name:</label><input type='text' /></div>"
  - code: "label\n  label: block"
    el: "<div class='label2'><label>Password:</label><input type='password' /></div>"
_content: false
---
