---
name: 'blockquote'
description: "Nice styles for a blockquote, and even puts a nice hyphen in before your citation. Use with a 'p' and 'cite', 'footer', or 'figcaption' inside for best results."
params:
  color: 'Color of the border on the left hand side. Default is blue.'
examples:
  - code: "blockquote\n  blockquote()"
    el: "<blockquote class='blockquote'><p>Sometimes people write books and they just be so wordy and so self-absorbed. I am not a fan of books. I would never want a book's autograph. I am a proud non-reader of books.</p><cite>Kanye West</cite></blockquote>"
  - code: "blockquote\n  blockquote: red"
    el: "<blockquote class='blockquote2'><p>I hate when I'm on a flight and I wake up with a water bottle next to me like oh great now I gotta be responsible for this water bottle.</p><cite>Kanye West</cite></blockquote>"
_content: false
---