---
name: 'ellipsis'
description: "Truncate text to the width of its container using ellipsis."
params:
  $width: 'Width of the container. Default is 100%'
examples:
- code: "p\n"
  el: "<p>Sometimes you have to truncate verbose lines, and that's all there is to say.</p>"
- code: "p\n  ellipsis()"
  el: "<p class='ellipsis'>Sometimes you have to truncate verbose lines, and that's all there is to say.</p>"
- code: "p\n  ellipsis(50px)"
  el: "<p class='ellipsis short'>Sometimes you have to truncate verbose lines, and that's all there is to say.</p>"  
_content: false
---
