---
name: 'fs'
description: "An alias for 'font-size' with a fallback for pixels in older browsers if you are using rem."
params:
  size: 'Font size that you want to pass in.'
examples:
  - code: "p\n  fs: 1.5rem"
    el: "<p class='fs'>My milkshake brings all the boys to the yard</p>"
_content: false
---