---
name: 'headings'
description: "For every header level from h1 through h6, there is a mixin you can use here that will set solid scalable defaults."
examples:
  - code: "h1\n  h1()"
    el: "<p class='h1'>Heading 1</h1>"
  - code: "h2\n  h2()"
    el: "<p class='h2'>Heading 2</h2>"
  - code: "h3\n  h3()"
    el: "<p class='h3'>Heading 3</h3>"
  - code: "h4\n  h4()"
    el: "<p class='h4'>Heading 4</h4>"
  - code: "h5\n  h5()"
    el: "<p class='h5'>Heading 5</h5>"
  - code: "h6\n  h6()"
    el: "<p class='h6'>Heading 6</h6>"
_content: false
---