---
name: 'hyphenation'
description: "Hyphenation is the better word-break. It’s locale aware, and inserts the hyphen character at the correct place, when breaking the words. This is especially important in responsive designs. It will save you from a lot of ragged lines. And, no need anymore for clunky & slow Javascript hyphenation fallbacks.<div class='tip'><h5>Warning</h5><p>Hyphens are <a href='http://caniuse.com/#feat=css-hyphens'>not currently supported by Chrome</a>, so unless by some miracle you don't need to support Chrome you may want to hold off on using this one.</p></div>"
examples:
  - code: "p\n  hyphenation()"
    el: "<p class='hyphenation'>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>"
_content: false
---
