---
name: 'inline-list'
description: "Lists stack vertically by default. This mixin makes them stack horizontally."
params:
  spacing: 'The amount of space between each list element. Default is 20px'
examples:
  - code: "ul\n  inline-list()"
    el: "<ul class='inline-list'><li>One</li><li>Two</li><li>Three</li></ul>"
  - code: "ul\n  inline-list: 40px"
    el: "<ul class='inline-list2'><li>One</li><li>Two</li><li>Three</li></ul>"
_content: false
---