---
name: 'link'
description: "A nice default style for your links."
params:
  color: 'Color you want the link to be. Default is blue.'
  style: 'Can be underline, darken, lighten, or glow. Default is "underline".'
examples:
  - code: "a\n  link()"
    el: "<a class='link'>Click me!</a>"
  - code: "a\n  link: green 'darken'"
    el: "<a class='link2'>No click me instead!</a>"
_content: false
---