---
name: 'lowercase'
description: "A quicker alias for text-transform: lowercase. You can also use the alias 'downcase' to get the same effects."
examples:
  - code: "h5\n  lowercase()"
    el: "<h5 class='lowercase'>FORCED LOWERCASE</h5>"
  - code: "h5\n  downcase()"
    el: "<h5 class='lowercase'>MORE LOWERCASE HERE</h5>"
_content: false
---
