---
name: 'ol'
description: "Nice clean and scalable defaults for organized lists."
params:
  $style: "Any style that 'list-style-type' would normally take. Default is 'decimal'."
examples:
  - code: "ol\n  ol()"
    el: "<ol class='ol'><li>One</li><li>Two</li><li>Three</li></ol>"
  - code: "ol\n  ol: 'upper-roman'"
    el: "<ol class='ol2'><li>One</li><li>Two</li><li>Three</li></ol>"
_content: false
---
