---
name: 'paragraph'
description: "Sets a nice size, line-height, and margins on a paragraph of text, all smoothly scalable. Can also be used through the alias 'p'."
params:
  size: 'Font size for the paragraph. Default is 1rem.'
  margins: "Boolean, whether you'd like margins to be defined or not. Default true."
examples:
  - code: "p\n  paragraph()"
    el: "<p class='paragraph'>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>"
  - code: "p\n  p()"
    el: "<p class='paragraph2'>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>"
  - code: "p\n  p: 18px false"
    el: "<p class='paragraph3'>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>"
_content: false
---