---
name: 'raquo'
description: "Because technically raquo is not semantic, this mixin will add it as an :after to your element."
examples:
  - code: "h3\n  raquo()"
    el: "<div class='raquo'>Check this out</div>"
_content: false
---