---
name: 'reset-list'
description: "Removes any styles that were previously set on a list, clearing out all the margins and padding that are there by default."
examples:
  - code: "ul\n  reset-list()"
    el: "<ul class='reset-list'><li>One</li><li>Two</li><li>Three</li></ul>"
_content: false
---