---
name: 'reset-link'
description: "Removes any styles that were previously set on links, even that annoying text-decoration."
examples:
  - code: "a\n  reset-link()"
    el: "<a class='reset-link' href='#'>Wow no more underline and harsh blue, amazing</a>"
_content: false
---