---
name: 'reset-case'
description: "A shorter alias for text-transform: none. Resets any change in case that was previously set."
examples:
  - code: "p\n  upcase()\n  reset-case()"
    el: "<p class='reset-case'>Normal case oh yeah.</p>"
_content: false
---