---
name: 'shadow-stroke'
description: "Creates an outline using text-shadow. Works best on larger text. Ported from <a href='http://nibstyl.us/docs/#shadow-stroke'>nib</a>."
params:
  $color: "Color of the stroke. Default is blue."
examples:
  - code: "h1\n  shadow-stroke()"
    el: "<h2 class='shadow-stroke'>Totally<h5>"
  - code: "h1\n  shadow-stroke(tomato)'"
    el: "<h2 class='shadow-stroke red'>Outlined</h5>"
_content: false
---
