---
name: 'text-margin'
description: "Puts nice visually pleasing top and bottom margins on a paragraph of text. Use a font-size on your element to have it magically adjust."
params:
  size: 'Override the existing font size with a custom one.'
examples:
  - code: "p\n  font-size: 18px\n  text-margin()"
    el: "<p class='text-margin'>Look at these great margins</p><p class='text-margin'>So great.</p>"
_content: false
---