---
name: 'ul'
description: "Nice clean and scalable defaults for unorganized lists."
params:
  style: "Any style that 'list-style-type' would normally take. Default is 'disc'."
examples:
  - code: "ul\n  ul()"
    el: "<ul class='ul'><li>One</li><li>Two</li><li>Three</li></ul>"
  - code: "ul\n  ul: 'square'"
    el: "<ul class='ul2'><li>One</li><li>Two</li><li>Three</li></ul>"
_content: false
---