---
name: 'uppercase'
description: "A quicker alias for text-transform: uppercase. You can also use the alias 'upcase' to get the same effects."
examples:
  - code: "h5\n  uppercase()"
    el: "<h5 class='uppercase'>ALL CAPS HEADING</h5>"
  - code: "h5\n  upcase()"
    el: "<h5 class='uppercase2'>ANOTHER ALL CAPS HEADING</h5>"
_content: false
---