---
name: 'button-disabled'
description: 'Add this mixin to a button and it will make the button appear to be disabled. Try attaching to a class like .disabled and adding that class to the button.'
examples:
  - code: ".disabled\n  button-disabled()"
    el: "<div class='btn-disabled'>don't click me : (</div>"
_content: false
---