---
name: 'button'
description: 'The basic button mixin, flat and simple, but scales very well to any size and can be quite flexible using options passed in.'
params:
  color: 'Any CSS color value, default blue.'
  size: 'Font size, no unit. Used to scale all other properties. Default 14.'
examples:
  - code: ".selector\n button()"
    el: "<div class='btn'>click me!</div>"
  - code: ".selector\n  button: green large"
    el: "<div class='btn2'>click me!</div>"
_content: false
---