---
name: "glossy-button"
description: "This button has more swagger than your momma's uncle's cousin."
params:
  color: "Any CSS color value, default blue."
  size: "Font size, no unit. Used to scale all other properties. Default 14."
examples:
  - code: ".selector\n  glossy-button()"
    el: "<div class='glossy-btn'>click me!</div>"
  - code: ".selector\n  glossy-button: green large"
    el: "<div class='glossy-btn2'>click me!</div>"
_content: false
---