---
name: "glossy-button"
description: "A more fancy button style. This button has more swagger than your momma's uncle's cousin."
params:
  color: "Any CSS color value, default blue."
  size: "Font size, no unit. Used to scale all other properties. Default 14."
  textColor: "Color of the text on the button. Default is either black or white depending on the darkness of the background color. Sometimes this contrast detection doesn't do exactly what you want though, so you can override it with textColor."
examples:
  - code: ".selector\n  glossy-button()"
    el: "<div class='glossy-btn'>click me!</div>"
  - code: ".selector\n  glossy-button: blue large"
    el: "<div class='glossy-btn2'>click me!</div>"
  - code: ".selector\n  glossy-button: orange large white"
    el: "<div class='glossy-btn3'>click me!</div>"
  - code: ".selector\n  glossy-button(color: orange, textColor: white)"
    el: "<div class='glossy-btn4'>click me!</div>"
_content: false
---